<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify-dl-webui</title>
    <link rel="stylesheet" href="/static/output.css">
</head>
<body class="font-sharetech text-[black]">
    <nav class="w-full bg-gray-400 p-[20px]">
        <h1 class="text-[40px]">
            Spotify-dl-webui
        </h1>
    </nav>

    <!-- the magic -->
    <section class="w-full h-[calc(100%-100px)] flex justify-center place-items-center">
        <div class="text-center border-[8px] border-gray-400 rounded-md p-[20px] w-[80%] xl:w-[50%]">
            <p class="font-bold text-[20px] sm:text-[30px]">
                Processing your request
            </p>
            <p class="my-[20px]">
                A download button will appear soon. Please wait.
            </p>

            <p class="mb-[20px]">
                <button class="border-gray-400 border-[4px] rounded-md focus:outline-none px-5 py-2">DOWNLOAD</button>
            </p>
        </div>
    </section>
    <div class="absolute bottom-0 flex w-full text-center justify-between px-[20px] text-[15px] sm:text-[20px]">
        <p>
            [profile]
        </p>
        <p>
            © Krish Sharma 2024
        </p>
        <p>
            [contribute]
        </p>
    </div>
</body>
</html>